[submodule "themes/terminimal"]
	path = themes/terminimal
	url = https://github.com/pawroman/zola-theme-terminimal.git
[submodule "themes/zerm"]
	path = themes/zerm
	url = https://github.com/ejmg/zerm.git
[submodule "themes/blow"]
	path = themes/blow
	url = git@github.com:tchartron/blow.git
	branch = main
[submodule "themes/hermit_zola"]
	path = themes/hermit_zola
	url = https://github.com/VersBinarii/hermit_zola.git
[submodule "themes/soapstone"]
	path = themes/soapstone
	url = https://github.com/MattyRad/soapstone.git
[submodule "themes/tilde"]
	path = themes/tilde
	url = https://git.sr.ht/~savoy/tilde
[submodule "themes/particle"]
	path = themes/particle
	url = https://github.com/svavs/particle-zola.git
[submodule "themes/emily"]
	path = themes/emily
	url = https://github.com/kyoheiu/emily_zola_theme.git
[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://github.com/getzola/after-dark.git
[submodule "themes/boring"]
	path = themes/boring
	url = https://github.com/ssiyad/boring.git
[submodule "themes/deep_thought"]
	path = themes/deep_thought
	url = https://github.com/RatanShreshtha/DeepThought.git
